.header {
    display: grid;
    
}
/* 
.container {
    display: flex;
    justify-content: space-between;
} */

.header-title {
    display: flex;
    color: aliceblue;
    width: 30px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
}