<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav bg-primary" mode='side' opened
        fixedInViewport='true' fixedTopGap='64'>
        <mat-nav-list class="nav-list">
            <a mat-list-item class="text-white" routerLink='/'>
                <i class="material-icons pe-1">home</i>
                Início
            </a>
            <a mat-list-item class="text-white" routerLink='/products'>
                <i class="material-icons pe-1">storefront</i>
                Cadastrar Paciente
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>